<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Color, Context, and Connotation</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles/home.css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <script src="/assets/src/homeBundle.js"></script>
</head>
<body>
  <div id="nav-bar">
      <div id="home-text">
      </div>

      <div id="creator-text">
      </div>
  </div>

  <section id="content">

  </section>

  
</body>
</html>
